@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f2e3c;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.box {
  position: relative;
  width: 400px;
  height: 200px;
  background: repeating-conic-gradient(
    from var(--a),
    #bf3952 0%,
    #bf3952 5%,
    transparent 5%,
    transparent 40%,
    #bf3952 50%
  );
  filter: drop-shadow(0 15px 50px #000);
  animation: rotating 3s linear infinite;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.box:hover {
  width: 450px;
  height: 500px;
}

@keyframes rotating {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--a),
    #4672ff 0%,
    #4672ff 5%,
    transparent 5%,
    transparent 40%,
    #4672ff 50%
  );
  filter: drop-shadow(0 15px 50px #000);
  border-radius: 20px;
  animation: rotating 4s linear infinite;
  animation-delay: -1s;
}

.box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #2d2d39;
  border-radius: 15px;
  border: 8px solid #25252b;
}

.login {
  position: absolute;
  inset: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  color: #fff;
  overflow: hidden;
}

.box:hover .login {
  inset: 40px;
}

.loginBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(126px);
  gap: 20px;
  width: 70%;
  transition: 0.5s;
}

.box:hover .loginBx {
  transform: translateY(0px);
}
.box:hover .loginBx h2 i {
  opacity: 1;
}

.loginBx h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  align-items: center;
  background: linear-gradient(
    90deg,
    #1f347a 0%,
    #1f347a 40%,
    #fff 50%,
    #708be6 60%,
    #708be6 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.loginBx h2 i {
  color: #bf3952;
  text-shadow:
    0 0 5px #bf3952,
    0 0 30px #bf3952;
  opacity: 0;
  transition: 0.5s;
}

.loginBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-size: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #999;
  border-radius: 10px;
}

.loginBx input::placeholder {
  color: #999;
}

.loginBx input[type="submit"] {
  background: #4672ff;
  border: none;
  font-weight: 500;
  color: #111;
  cursor: pointer;
  transition: 0.5s;
}

.loginBx input[type="submit"]:hover {
  box-shadow:
    0 0 5px #4672ff,
    0 0 30px #4672ff;
}

.group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.group a {
  color: #999;
  text-decoration: none;
}

.group a:nth-child(2) {
  color: #bf3952;
  font-weight: 600;
}
