html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family:
    "Times New Roman",
    Times,
    serif sans-serif;
  background-color: white;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #d2bfecd1;
  box-sizing: border-box;
  box-shadow: 0 12px 80px rgba(0, 0, 0, 0.774);
  border-radius: 20px;
}

.login-box h2 {
  font-size:xx-large;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  background: linear-gradient(
    90deg,
    #1f347a 0%,
    #1f347a 40%,
    #fff 50%,
    #708be6 60%,
    #708be6 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shine 5s linear infinite;
  animation-delay: 0s;
}
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  background: linear-gradient(
    90deg,
    #1f347a 0%,
    #1f347a 40%,
    #fff 50%,
    #708be6 60%,
    #708be6 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shine 4s linear infinite;
  animation-delay: 0s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.login-box form a {
  max-height: 20px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 31px;
  letter-spacing: 4px;
  background: linear-gradient(
    90deg,
    #1f347a 0%,
    #1f347a 40%,
    #fff 50%,
    #708be6 60%,
    #708be6 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shine 4s linear infinite;
  animation-delay: 0s;
}

.login-box a:hover {
  background: #708be6;
  color: #fff;
  border-radius: 5px;
  box-shadow:
    0 0 5px #708be6,
    0 0 10px #708be6,
    0 0 0px #708be6,
    0 0 0px #708be6;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #fff;
  background-clip: border-box;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.login-box a span {
  position: absolute;
  display: flex;
  align-items: center;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #708be6);
  animation: btn-anim1 4s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #708be6);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #708be6);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #708be6);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
.position-login-icon {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: stretch;
}
.icon {
  display: flex;
  justify-content: center;
}